@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.woff2");
}
:root {
  --body_background: #101010;
  --body_color: #fff;
  --heading_color: #ffe400;
}

[data-theme="light"] {
  --body_background: #f5f5f5;
  --body_color: #333;
  --heading_color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body_background);
  color: var(--body_color);
  font-family: "Monserrat", sans-serif;
}

.align_center {
  display: flex;
  align-items: center;
}
